.navbarCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.image-banner {
}
.imageCont {
  display: flex;
}
.image-banner {
  width: 33.33%;
}
.div-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.img-tab {
  width: 23px !important;
  height: 23px !important;
  margin-right: 10px;
}
.tab-cont {
  width: 100% !important;
}
.tabs-child {
  width: 256px;
  border: 2px solid #464b4e;
}
.card-image-cont {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 20px;
  z-index: 20;
}
.div-card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.card-main {
  width: 45% !important;
  background: #ffffff;
  border: 0.5px solid #e5e5e5;
  border-radius: 25px;
  margin-left: -20px;
  padding-left: 40px;
  padding-right: 30px;
}
.item-images {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.item-name {
  padding-top: 10px;
  padding-bottom: 5px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #464b4e;
}
.item-vendor {
  padding-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: #464b4e;
}
.by-typo {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: #464b4e;
}
.item-description {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #7b7b7b;
  padding-bottom: 25px;
}
.read-more {
  display: inline;
  font-weight: 600;
  font-size: 12px;
  color: black;
}
.item-rating {
  padding-bottom: 10px;
}
.item-rate-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.item-price {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  color: #464b4e;
}

.currency {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #464b4e;
}
.item-icons {
  margin-right: 15px;
}
.rate-icon {
  margin-right: 5px;
}
.div-logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-logo-smoke {
  width: 285px !important;
}
.input-text {
  width: 100%;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid #464b4e;
}
.grid-pass-cont {
  padding-top: 40px;
}
.auth-label-forgot {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: #464b4e;
}
.auth-label {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #464b4e;
}
.div-logo-image {
  padding-bottom: 40px;
}
.input-button {
  color: white;
  background: #464b4e;
  border-radius: 5px;
  width: 101%;
  height: 48px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.modal-auth {
  border-radius: 30px !important;
}
